html{
  font-size: 62.5%; /*  */
  box-sizing: border-box;
}
body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}
/*Layout*/
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
  
}
header{
  grid-area: header;
  background-color: #203040;
  position: fixed;
  width: 100%;
  height: 5rem;
}
main{
  grid-area: main;
  padding: 1rem
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  position: fixed;
  bottom: 0pt;
  width: 100%;
}
/*common*/
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}
header a{
  color: #ffffff;
}
a.brand{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center ;
}

img{
  border-radius: 0.5rem;
}
img.small{
  max-width: 5rem;
  width: 100%;
}
img.medium{
  max-width: 29rem;
  width: 100%;
  height: 35rem;
}
img.large{
  max-width: 50rem;
  width: 100%;
  height: 40rem;
}
select,
input,
textarea,
button{
  padding: 1rem;
  border-radius: 1;
  border: 0.1rem #a4a4a4 solid;
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-family: Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
button.primary{
  background-color: #f0c040;
}
button.block{
  width: 100%;
}
select,
input,
textarea,
button:hover{
  border: 0.1rem black solid;
}
/*Card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body{
  padding: 1rem;
}
.card-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

.ratting span{
  color: #f0c040;
  margin: 0.1rem;
}
.ratting span:last-child{
  color: black;
  margin: 0.5rem;  
}

.Success{
  padding-left: 2rem;
  color: #20a020;
}
.Error{
  padding-left: 2rem;
  color: #a02020;
}

.row.top{
  align-items: flex-start;
}
.col-1{
  flex: 1 1 15rem;
}
.col-2{
  flex: 1 1 15rem;
  max-width: 35rem;
}
.col-3{
  flex: 1 1 10rem;
}
ul{
  padding: 0;
  padding: 0 0 2rem 2rem;
  margin: 0;
  list-style-type: none;
  word-wrap: break-word;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-error{
  color: #a02020;
  background-color: #ffe0e0e0;
}
.badge{
  color: #ffffff;
  background-color: #f02020;
  border-radius: 50%;
  margin-left: 0.3rem;
  padding: 5%;
  
}

.logo_web{
  height: 3rem;
  width: 4rem;
  padding-top: 0.7rem;
  margin-right: 0.7rem;
}
.product-img:hover{
  transform: scale(1.2); 
}